#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build:
	@echo

clean:
	dh_testdir
	dh_testroot
	dh_clean -Xchangelog

install:
	dh_testdir
	dh_testroot
	dh_clean -Xchangelog
	dh_install

binary-indep: build install
	dh_testdir
	dh_testroot
	python debian/genpackage.py
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch
